@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}

.container {
  width: 22rem;
  height: 35rem;
  background: white;
  border-radius: 1rem;
}

.palo {
  font-size: 6rem;
  position: relative;
}

.palo_Down {
  transform: rotate(180deg);
}

.number_size {
  font-size: 11rem;
}
